DU=postgres
DP=postgres
H=localhost
P=5432
DB=template_db
JWT_SECRET_KEY=theseAre128CharactersToFillUpThisKeyBecauseItShouldBeSafeTheLongerItIsTheSaferItIsBelieveMeWontYouIPromiseYeahIKnowImVeryCreativ

HASH_SALT=theseAre128CharactersToFillUpThisKeyBecauseItShouldBeSafeTheLongerItIsTheSaferItIsBelieveMeWontYouIPromiseYeahIKnowImVeryCreativ
HASH_MIN_LEN=16
